<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>

				<rule name="HTTPS Redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
				</rule>

			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
			<!-- SECURITY HEADERS - https://securityheaders.io/? -->
			<!-- Protects against Clickjacking attacks. ref.: http://stackoverflow.com/a/22105445/1233379 -->
			<add name="X-Frame-Options" value="SAMEORIGIN" />
			<!-- Protects against Clickjacking attacks. ref.: https://www.owasp.org/index.php/HTTP_Strict_Transport_Security_Cheat_Sheet -->
			<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload "/>
			<!-- Protects against XSS injections. ref.: https://www.veracode.com/blog/2014/03/guidelines-for-setting-security-headers/ -->
			<add name="X-XSS-Protection" value="1; mode=block" />
			<!-- Protects against MIME-type confusion attack. ref.: https://www.veracode.com/blog/2014/03/guidelines-for-setting-security-headers/ -->
			<add name="X-Content-Type-Options" value="nosniff" />
			<!-- CSP modern XSS directive-based defence, used since 2014. ref.: http://content-security-policy.com/ -->
			<add name="Content-Security-Policy" value="default-src 'self' https://api.dbc.co.id https://app-vend.dbc.co.id/api https://fonts.googleapis.com https://fonts.gstatic.com; 
														connect-src 'self' https://api.dbc.co.id https://socket.djabesmen.net https://app-vend.dbc.co.id/api wss://socket.djabesmen.net https://api.ipify.org/ https://*.dbc.co.id; 
														img-src 'self' https://fileserp.dbc.co.id https://app-vend.dbc.co.id/api https://api.dbc.co.id https://cdn.quasar.dev 
														data:; 
														base-uri 'self'; 
														frame-ancestors 'self'; 
														form-action 'self' https://api.dbc.co.id https://app-vend.dbc.co.id/api; 
														script-src 'self' https://api.dbc.co.id https://app-vend.dbc.co.id/api  https://*.dbc.co.id; 
														style-src 'self' ; style-src-elem 'self' https://api.dbc.co.id https://fonts.googleapis.com; 
														font-src 'self' https://fonts.gstatic.com; 
														worker-src 'self'; 
														child-src 'self' https://api.dbc.co.id https://app-vend.dbc.co.id/api; 
														frame-src 'self' https://api.dbc.co.id https://app-vend.dbc.co.id/api; " />
			<!-- Prevents from leaking referrer data over insecure connections. ref.: https://scotthelme.co.uk/a-new-security-header-referrer-policy/ -->
			<add name="Referrer-Policy" value="strict-origin" />
			<add name="Permissions-Policy" value="fullscreen=(), geolocation=()" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
