	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Notification Mail - {{ nama_bu }}</title>
	<style type="text/css">
	<!--
	.style1 {
	font-size: 18px;
	font-weight: bold;
	}
body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
}
body {
	background-repeat: no-repeat;
}
	-->
	</style>
	</head>
	
	<body>
	
	<p>Dear <strong>Procurement</strong>,</p>

	<p>New vendor already submit registration.</p>
	<p>Vendor Name : {{ nama_vendor }}<br />
	<p>Category : {{ kategori_vendor }}<br />
	<p>Please login to the administrator page or click link below.</p>
	<p>Thank you, <br />Administrator.</p>
	<p></p>
	<p></p>
	<p><img src="{{ link_footer }}" width="200" height="" /></p>
	<hr />
	</body>
	</html>